.ngl-grid,
.ngl-grid-header,
.ngl-grid-column,
.ngl-grid-body,
.ngl-grid-row {
    display: flex;
}

.ngl-grid,
.ngl-grid-column,
.ngl-grid-body {
    flex: 50%;
    /* flex: 1 1 auto; */
    flex-direction: column;
}

.ngl-grid-header {
    text-align: center;
}

.ngl-grid-header,
.ngl-grid-row {
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex: 1 1 auto; */
    flex-direction: row;
}

.ngl-grid-filter {
    display: flex;
}

.ngl-grid-filter .ngl-filter-value,
.ngl-grid-filter .ngl-filter-option {
    display: flex;
    flex: 50%;
}

.ngl-grid-pages{
    display: flex;
    flex-direction: row;
}
.ngl-grid-paging,
{
    flex: 1 1 auto;
}

.ngl-grid-footer .ngl-grid-paging {
    text-align: center;
    width: 20px;
    flex: 1 1 auto;
}
.ngl-grid-pages{
    max-width: 20%;
}