.ngl-grid, .ngl-grid-header, .ngl-grid-column, .ngl-grid-body, .ngl-grid-row {
    display: flex;
}

.ngl-grid, .ngl-grid-column, .ngl-grid-body {
    flex: 50%;
    /* flex: 1 1 auto; */
    flex-direction: column;
}

.ngl-grid-header {
    text-align: center;
}

.ngl-grid-header, .ngl-grid-row {
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex: 1 1 auto; */
    flex-direction: row;
}

.ngl-grid-filter {
    display: flex;
}

.ngl-grid-filter .ngl-filter-value, .ngl-grid-filter .ngl-filter-option {
    display: flex;
    flex: 50%;
}

.ngl-grid-pages {
    display: flex;
    flex-direction: row;
}

.ngl-grid-paging, {
    flex: 1 1 auto;
}

.ngl-grid-footer .ngl-grid-paging {
    text-align: center;
    width: 20px;
    flex: 1 1 auto;
}

.ngl-grid-pages {
    max-width: 20%;
}

.ngl-grid-filter, .ngl-grid-option {
    display: flex;
}

.ngl-grid-filter {
    width: 400px;
    height: 20px;
    flex-flow: row-reverse;
}

.ngl-grid-option {
    right: 0px;
    background: red;
    height: 30px;
    transition: width 500ms, height 500ms;
    border-radius: 50%;
    width: 30px;
    animation: slide-reverse 500ms linear;
}

.ngl-grid-option .ngl-filter-option,.ngl-grid-option .ngl-filter-value {
    display: none;
}
.ngl-grid-filter.is-active .ngl-grid-option {
    height: 70px;
    width: 100%;
    border-radius: 0%;
    animation: slide 500ms linear;
}


.ngl-grid-filter.is-active .ngl-grid-option .ngl-filter-option,.ngl-grid-filter.is-active .ngl-grid-option .ngl-filter-value {
    display: block;

}
.ngl-grid-filter .ngl-grid-selected {
    
    display: flex;
    width: 100%;
}
.ngl-grid-filter.is-active .ngl-grid-selected {
    display: none;
}


@keyframes slide {
    0% {
        border-radius: 50%;
    }
    40% {
        border-radius: 40%;
    }
    60% {
        border-radius: 20%;
    }
    100% {
        border-radius: 0%;
    }
}

@keyframes slide-reverse {
    0% {
        border-radius: 0%;
    }
    40% {
        border-radius: 20%;
    }
    60% {
        border-radius: 40%;
    }
    100% {
        border-radius: 50%;
    }
}